<h1>
  <center>
    Welcome To The World of Cricket
  </center>
</h1>
<h2>
  <%= link_to 'Home' %>
  <%= link_to 'Teams', teams_path %>
  <%= link_to 'About' %>
</h2>
<center>
  <h2>
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <br>
      <br>
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>

  </h2>
</center>





